<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="u" class="org.wg.dao.impl.UserDAOImpl">
    </bean>

    <!--scope="singleton" 单例-->
    <bean id="userService" class="org.wg.service.UserService" init-method="init" destroy-method="destroy" scope="prototype">
        <!--
        <property name="userDAO" ref="u" />
         -->
        <constructor-arg>
            <ref bean="u"/>
        </constructor-arg>
    </bean>


</beans>